.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "A  B"
    "C  .";
}

.heading-A {
  text-transform: uppercase;
  grid-area: A;
  justify-self: center;
  padding-top: 2rem;
}
.area-A {
  grid-area: A;
  justify-self: center;
  padding: 2rem 4rem;
}
.area-B {
  grid-area: B;
  justify-self: center;
}

.area-C {
  grid-area: C;
  justify-self: center;
}
