.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "A  B"
    "C  D"
    "E  F";
  font-size: 1.6rem;
}

@media screen and (min-width: 1351px) {
  .main {
    font-weight: 100;
  }

  h4.heading {
    text-transform: uppercase;
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 1350px) {
  .main {
    font-size: 1.44rem;
  }

  h4.heading {
    text-transform: uppercase;
    font-size: 2.7rem;
    font-style: normal;
  }
}

@media screen and (max-width: 1030px) {
  .main {
    font-size: 1.6rem;
  }

  h4.heading {
    text-transform: uppercase;
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 939px) {
  .main {
    font-size: 1.4rem;
  }

  h4.heading {
    text-transform: uppercase;
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 850px) {
  .main {
    font-size: 1.3rem;
  }

  h4.heading {
    text-transform: uppercase;
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 775px) {
  .main {
    font-size: 1.4rem;
  }

  h4.heading {
    text-transform: uppercase;
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "A"
      "B"
      "D"
      "C"
      "E"
      "F";
    font-size: 1.4rem;
  }

  h4.heading {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    justify-self: left;
  }
}

.evoraGTHeaderImage {
  width: 100%;
}

.evoraGTSubmenu {
  height: 4.8rem;
  width: 100%;
  background-color: yellow;
}
.heading {
  height: 4rem;
  text-transform: uppercase;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 2.24rem;
  font-weight: 100;
  white-space: nowrap;
  color: #062e28;
  margin: 5rem 10rem;
  padding-bottom: 5rem;
  padding-right: 10rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid green;
}

.body-text {
  line-height: 2.5rem;
  font-weight: 200;
  margin: 6.4rem 10rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
}

.area-A {
  grid-area: A;
}
.area-B {
  grid-area: B;
}

.objectFit {
  object-fit: cover;
  height: 100%;
  width: auto;
}

.area-C {
  grid-area: C;
  justify-self: center;
}

.area-D {
  grid-area: D;
}

.area-E {
  grid-area: E;
}

.heading.area-E {
  padding-right: 20rem;
}

.area-F {
  grid-area: F;
  justify-self: center;
}
