/* yellow color: FFF200 */
header {
  align-items: center;
  font-family: Overpass, sans-serif;
  background-color: #062e28;
  color: #e7e5eb;
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  width: 100vw;
  height: 7rem;
  align-items: center;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.menu-items {
  display: flex;
}

.menu-items li {
  cursor: pointer;
}

.menu-items li:hover {
  color: #fff200;
}

.Img {
  /* height: 50px; */
  width: 60px;
  cursor: pointer;
  margin-left: 3rem;
  margin-right: auto;
}

.menu {
  margin-right: 3rem;
}
