.model-h1 {
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 0.85rem;
  text-transform: uppercase;
  color: yellow;
}

h1 {
  text-decoration-line: none;
}

.photo-div {
  display: flex;
}

.react-player:focus {
  outline: none;
}

.video:focus {
  outline: none !important;
}