header {
}

nav {
  width: 100vw;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  align-items: center;

  height: 5rem;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
}

.headerItems {
  list-style: none;
}

.logo {
  align-self: center;
  list-style: none;
}
