/* yellow color: FFF200 */

header {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #062e28;
  color: #e7e5eb;
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  padding: 0;
}

.logo {
  cursor: pointer;
  margin-left: -6rem;
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
  margin-left: 0;
}

.nav-links-1 {
  display: flex;
}

.nav-links-1 li {
  margin-left: 2rem;
  margin-bottom: 0;
  list-style: none;
}

.nav-links-2 {
  display: flex;
}

.nav-links-2 li {
  margin-right: 2rem;
  margin-bottom: 0;
  list-style: none;
}
