.react-player {
  display: block;
  outline: none !important;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.react-player * {
  outline-color: none !important;
}

.player-wrapper {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.player-wrapper:focus {
  outline-color: none !important;
}
